/* add your CSS here */

.bolded {
  font-weight: bold;
}

.information {
  border: 1px solid;
  border-color: rgba(200, 200, 207, 0.6);
}

div {
  border: 1px solid;
  padding: 10px 10px;
  border-color: rgba(200, 200, 207, 0.4);
  box-sizing: border-box;
}

p {
  margin: 10px 0;
}

.fact {
  font-style: italic;
}

ul {
  list-style-type: none;
  padding: 0;
}


img {
  margin-bottom: 10px;
}

.card {
  width: 322px;
  box-shadow: 5px 5px rgba(68, 68, 68, 0.1);
}
